/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Global*/
body {
    height: 100%;
	background-color: #f9f9f9;
}

.main {
	width: 1060px;
    height: 100vh;
    margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 5px #dbdbdb;
	font-family: "MyriadProRegular";
}

.container {
    margin: 0 45px;
}

.wrapper {
    margin: 40px 0 50px 0;
    overflow: auto;
    font: 13px/1.5 "OpenSans Regular", Arial, Helvetica, sans-serif;
}

/* Header*/
.logo {
    margin: 50px auto 40px 0;
}

.menu {
    height: 40px;
    background-color: #555555;
}

.menu li {
    width: 145px;
    float: left;
    display: inline-block;
    padding: 12px 0;
    text-align: center;
}

.menu li a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: #373636 1px 1px 1px;
}

.menu .current {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    background-color: #444444;
}

/* Sidebar*/
.left-menu {
    width: 240px;
    float: left;
}

.left-menu li {
    padding: 15px 0 15px 25px;  
    border: 1px solid #c8c8c8;
}

.left-menu li a {
    color: #656363;
    text-decoration: none;
}

.left-menu li a:hover {
    padding-left: 10px;
    color: #2c2c2c;
}

/* Content */
.content {
    overflow: hidden;
}

.content p {
    clear: both;
    padding: 35px 0 0 75px;
}

.product-img {
    float: right;
    padding: 45px 90px;
    border: 1px solid #c8c8c8;
}

/* Footer */
.footer-menu {
    height: 40px;   
    background-color: #e1e1e1;
}

.footer-menu li {
    width: 145px;
    float: left;
    display: inline-block;
    padding-top: 12px;
    text-align: center;
}

.footer-menu li a {
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}

.footer-menu .current {
    text-decoration: underline;
}

.copyright {
    float: right;
    padding: 14px 35px 0 0;
    font-size: 13px;
}