html {
	width: 100%;
}

body {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;

}

/* GLOBAL */
.container {
	width: 910px;
	position: relative;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* HEADER */
.top-row {
	height: 42px;
	padding: 6px 0;
}


.phone-number p {
	float: left;
	margin: 14px 0 0 5px;
	font: 18px Arial, sans-serif;
	color: #5e696d;
	letter-spacing: 0.025em;
}

.phone-number p:before {
	content: "";
	height: 21px;
	width: 22px;
	float: left;
	display: block;
	margin: 1px 4px 0 1px;
	background: url("../img/phone-icon.png") no-repeat;
}

.navigation {
	height: 12px;
	float: right;
	margin: 11px 7px 0 0;
	padding: 2px 12px 6px 0;
	border: 1px solid #c2c8cb;
	border-radius: 15px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.15);
}

.navigation li {
	float: left;
	padding-left: 8px;
}

/* Authentication Form*/
.auth-form {
	height: 27px;
	width: 495px;
	margin: 11px 0 0 314px;
	border-radius: 3px;
	background-color: #13466a;
	background: linear-gradient(to top, #0c3357, #1f6787);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.35);
}

.auth-form ul:before {
	content: "";
	height: 18px;
	width: 14px;
	float: left;
	display: block;
	margin: 6px 3px 3px 7px;
	background: url("../img/auth-man-icon.png") no-repeat;
}

.auth-form li {
	display: inline-block;
	line-height: 22px;
	text-align: middle;
}

.auth-form input[type="text"] {
	height: 14px;
	width: 109px;
	padding: 0 0 2px 4px;
	border: 1px solid #7b8c96;
	border-radius: 3px;
	font: 11px "Lucida Sans Unicode", Arial, sans-serif;
}

.auth-form input[type="submit"] {
	padding: 0;
	border: none;
	background-color: transparent;
	color: #ffffff;
	font: 11px "Lucida Sans Unicode", Arial, sans-serif;
}

.auth-form input[type="submit"]:hover {
	cursor: pointer;
}

.auth-form a {
	color: #bfbfbf;
	font-size: 12px;
	text-decoration: underline;
}

.auth-form .registration {
	margin-right: 12px;
	margin-left: -6px;
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
}

/* Menu */
.menu-row {
	height: 32px;
	margin: 3px auto;
	border: 1px solid #2c345a;
	border-radius: 5px;
	background-color: #131517;
	background: linear-gradient(to top, #010101 0%, #2d3236 85%, #3a4046 87%, #4d5663 100%);
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}

.menu {
	margin-left: 125px;
}

.menu ul li {
	float: left;
	margin: 3px 0;
	padding: 4px 17px;
	border-radius: 15px;
	vertical-align: middle;
}

.menu ul li a {
	font-size: 13px;
	text-transform: uppercase;
	color: #b1bcc0;
}

.menu ul li.active {
	background-color: #13486b;
	background: linear-gradient(to top, #09233b, #25617b);
}

.menu ul li.active a {
	color: #ffffff;
}

/* Cart */
.cart li {
	float: right;
	margin-right: 12px;
}

.cart li p {
	color: #929b9f;
	font: 11px Arial, sans-serif;
	line-height: 29px;
	vertical-align: middle;
	letter-spacing: 0.04em;
}

.cart li p span {
	color: #0d5a8f;
	font-size: 12px;
}

.cart li img {
	margin: 6px -8px 0 0;
}

/* SEARCH FORM */
.search-form {
	height: 136px;
	margin-top: 10px;
	color: #154467;
	font: 900 12px Arial, sans-serif;
}

.search-form-col {
	height: 100%;
	box-sizing: border-box;
	float: left;	
	border: 1px solid #b6b6b7;
	border-radius: 15px;
	box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
}

.search-form ul {
	margin-top: 3px;
}

.search-form ul li {
	color: #000000;
	font-size: 10px;
	font-weight: normal;
}

.search-form ul li span {
	color: #77858b;
	font-size: 8px;
}

.search-form input[type="submit"] {
	float: right;
	position: absolute;
	top: 107px;
	right: 10px;
	color: #154467;
	border: none;
	background: none;
	font: 14px Arial, sans-serif;
	font-style: italic;
	text-decoration: underline;
}

/* Left Column of Search Form */
.left-search-form {
	width: 415px;
	position: relative;
	margin: 0 13px 0 5px;
	padding: 3px 12px 9px 16px;

}

.left-search-form li {
	height: 22px;
}

.left-search-form h3 {
	position: absolute;
	top: 2px;
	left: 130px;
	letter-spacing: 0.035em;
}

.left-search-form legend {
	margin-left: 3px;
	font-size: 10px;
}

.left-search-form label {
	width: 75px;
	float: left;
	line-height: 18px;
}

.left-search-form .label-double-line {
	line-height: 9px;
}

.left-search-form select {
	height: 18px;
	width: 100px;
	float: right;
}

.tire-search-by-car {
	float: left;
}

.disc-search-by-car {
	float: right;
}

.disc-search-by-car legend {
	width: 100%;
	text-align: right;
}

/* Center Column of Search Form */
.center-search-form {
	width: 194px;
	position: relative;
	padding: 2px 10px 9px 10px;
}

.center-search-form ul {
	margin: 5px 0 0 3px;
}

.center-search-form ul select {
	height: 18px; 
	width: 50px;
	margin-left: 4px;
}

.center-search-form ul li span {
	font-size: 14px;
}

.center-search-form .tire-r-select {
	margin: 3px 0 0 29px;
}

.center-search-form fieldset legend {
	position: absolute;
	top: 66px;
	left: 13px;
}

.center-search-form fieldset ul {
	margin: 5px 0 0 41px;
}

.center-search-form fieldset ul li {
	margin-top: -5px;
}

.center-search-form fieldset ul li label {
	vertical-align: 3px;
}

/* Right Column of Search Form */
.right-search-form {
	width: 267px;
	position: relative;
	margin: 0 0 0 10px;
	padding: 2px 10px 9px 10px;
}

.right-search-form h3 {
	letter-spacing: 0.065em;
}

.right-search-form ul li {
	height: auto;
	overflow: hidden;
}

.right-search-form ul li label {
	width: 90px;
	float: left;
	margin-bottom: 2px;
	line-height: 18px;
	letter-spacing: 0.12em;
}

.right-search-form select {
	height: 18px;
	width: 60px;
}

.right-search-form .label-triple-line {
	line-height: 9px;
}

.right-search-form .label-quadro-line {
	line-height: 8px;
}

.tire-search-left {
	float: left;
	padding-left: 6px;
}

.tire-search-right {
	position: absolute;
	top: 2px;
	left: 176px;
	padding: 0 0 0 9px;
	border-left: 1px solid #bdc6ca;
}

.tire-search-right ul li {
	margin-bottom: 4px;
}

.tire-search-right ul li label {
	width: 72px;
}

.tire-search-right ul li span {
	font-size: 8px;
}

/* CONTENT */
.content {
	margin: 18px auto 27px auto;
}

/* Sidebars */
.sidebar {
	width: 183px;
	color: #114165;
}

.sidebar h2 {
	height: 25px;
	margin: 0 0 18px 0;
	border: 1px solid #8b979c;
	border-radius: 15px;
	box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
	font-size: 13px;
	text-transform: uppercase;
	line-height: 25px;
	vertical-align: middle;
}

.sidebar h2:before {
	content: "";
	height: 22px;
	width: 22px;
	float: left;
	display: block;
	margin: 2px;
	margin-right: 5px;
	background: url("../img/list-icon.png") no-repeat;
}

.sidebar .submenu {
	height: 26px;
	width: 150px;
	margin: -5px 0 5px 2px;
	border-color: #79878d;
	box-shadow: none;
	line-height: 26px;
}

.sidebar .submenu:before {
	margin-left: 4px;
	background-image: url("../img/submenu-point.png");
}

.left-sidebar {
	float: left;
}

.left-sidebar .submenu-item li {
	margin: 0 0 9px 53px;
	list-style-image: url("../img/list-style-grey.png");
}

.submenu-item li a, .submenu-item li label {
	color: #465961;
	font-size: 13px;
}

.left-sidebar ul ul li:hover {
	list-style-image: url("../img/list-style-blue.png");
}

.left-sidebar ul ul li a:hover {
	font-size: 14px;
	color: #0c3256;
	text-decoration: underline;
}

.right-sidebar {
	float: right;
}

.right-sidebar h2 {
	margin-top: -2px;
}

.right-sidebar .submenu {
	width: 135px;
	margin-left: 15px;
}

.right-sidebar .submenu-item {
	margin-bottom: 20px;
}

.right-sidebar .submenu-item li {
	margin: 5px 0 0 23px;
}

.right-sidebar li input[type="submit"] {
	height: 26px;
	width: 80px;
	margin: 2px 0 0 25px;
	border: none;
	border-radius: 10px;
	box-shadow: 3px 3px 8px -5px rgba(0,0,0,0.75);
	background-color: #124569;
	background: linear-gradient(to top, #0c3357, #1f6787);
	color: #e5e9ea;
	font: 11px Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.11em;
}

/* Products */
.products {
	width: 526px;
	position: relative;
	margin: 0 auto;
	border-radius: 2px;
	background-color: #bdc8cd;
	background: linear-gradient(to top, #93a7b0, #e5e7e8);
}

.product-items-wrapper {
	padding: 10px 0 8px 22px;
}

.product-item {
	width: 140px;
	float: left;
	margin: 0 28px 22px 0;
	text-align: center;
}

.product-item a {
	color: #1f2528;
	font-size: 13px;
	vertical-align: top;
}

.product-item a span {
	color: #206988;
	font-size: 15px;
}

.product-item-image {
	height: 127px;
	width: 138px;
	margin-top: -1px;
	border: 1px solid #b0b9bc;
	border-radius: 5px;
	background: url("../img/product-1.jpg") #ffffff no-repeat center;
}

.product-item p {
	color: #114165;
	font: italic bold 12px Arial, sans-serif;
}

.product-item p span {
	font-size: 16px;
}

/* Brand Logos */
.brand-logo {
	min-height: 30px;
	position: relative;
	margin: 38px 0 20px 11px;
	line-height: 32px;
	text-align: center;
}

.brand-logo img {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}

/* FOOTER */
footer {
	height: 99px;
	border: 1px solid #242c3e;
	border-bottom: none;
	background-color: #213a4d;
	text-align: center;
}

footer ul {
	position: relative;
	margin: 9px auto 12px auto;
	padding-left: 28px;
}

footer ul li {
	display: inline-block;
}

footer ul li:after {
	content: "|";
	margin: 0 10px;
	color: #bec6c9;
	font: 12px Arial, sans-serif;
}

footer ul li:last-child:after {
	content: "";
}

footer ul li a {
	color: #bec6c9;
	font: 12px Arial, sans-serif;
}

footer ul li a.active {
	color: #52abcb;
}

footer p {
	color: #7f4740;
	font: 10px Arial, sans-serif;
}