<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>module-09-task-02</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="row-container">
    	<script type="text/template" id="row-tpl">
    		<div>
    			<% data.forEach(function(item) { %>
					<button><%-item%></button>
    			<% }); %>
    		</div>
    	</script>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
    <script src="js/index.js"></script>
</body>

</html>