/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Tahoma, sans-serif;
	height: 300px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.show-block-elem {
	display: block !important;
} 

/* MENU */
nav {
	background-color: #FF6464;
}

nav ul {
	height: 60px;
}

nav ul li {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
	cursor: pointer;
	line-height: 40px;
}

nav ul li.arrow-down {
	background: url(../images/arrow-down.png) right center no-repeat;
}

nav ul li.arrow-right {
	background: url(../images/arrow-right.png) 200px center no-repeat;
}

nav ul li:hover > a,
nav ul li:active > a,
nav ul li:focus > a {
	color: #323232;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul .submenu-wrapper .submenu {
	/* height:  */
	overflow: hidden;
}

nav ul .submenu {
	position: absolute;
	top: 50px;
	left: 0;
	height: auto;
	display: none;
}

nav ul .submenu li {
	display: block;
	width:200px;
	padding: 10px 10px 0 10px;
	line-height: 16px;
	background-color: #E14B4B; 
}

nav ul .submenu li a {
	width: 100%;
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 1px solid #C83232;
}

nav ul .submenu li:last-child a {
	border-bottom: none;
}

nav ul .submenu .double-submenu {
	top: 0;
	left: 220px;
}
