.about {
	margin-top: -20vh;
	padding: 25rem 0;
	background-color: $color-grey-light-1;

	&__heading {
		margin-bottom: 5rem;
	}
}

.text-box {
	.text-box__heading {
		margin-bottom: 1.5rem;
	}

	.text-box__text {
		margin-bottom: 3rem;
	}
}

.features-section {
	padding: 20rem 0;
	background: 
		linear-gradient(to right bottom, 
			rgba($color-primary-light, 0.8), 
			rgba($color-primary-dark, 0.8)),
		url(../img/nat-4.jpg) no-repeat;
	background-size: cover;
}
