/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../img/main-bg.jpg") no-repeat;
	background-size: cover;
	font-family: 'Pathway Gothic One', Arial, sans-serif;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.content-wrapper {
	width: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
}

section {
	width: 406px;
	margin-top: 35px;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

h2 {
	margin-bottom: 50px;
	color: #263555;
	font-size: 30px;
	font-weight: 400;
}

.btn {
	position: relative;
	bottom: -33px;
	right: -52%;
	padding: 6px 12px;
	border-radius: 5px;
	background-color: #faf6fb;
	font: 12px Arial, sans-serif;
}

/* HEADER */

.main-menu {
	width: 250px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 22px 0 50px 0;
}

.main-menu li {
	width: 30%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.main-menu li a {
	color: #fff;
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
}

.main-menu li:hover a, .main-menu li:focus a {
	color: #263555;
}
 
.main-menu .submenu {
	display: none;
	position: absolute;
	top: 25%;
	padding: 10px;
	border-radius: 5px;
	background-color: #f2f2f3;
}

.main-menu li:hover .submenu,
.main-menu li:focus .submenu {
	display: flex;
	flex-direction: column;
}

.main-menu li:hover .submenu li a,
.main-menu li:focus .submenu li a {
	color: #6b7488;
	font-size: 20px;
}

.main-menu li:hover .submenu li a:hover,
.main-menu li:focus .submenu li a:focus {
	color: #263555;
}

.main-menu .submenu li {
	width: 100%;
}

.main-menu .submenu li.submenu-triangle {
	height: 0;
	width: 0;
	position: absolute;
	top: -3px;
	left: 47%;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #fff;
}

.main-menu .main-logo {
	width: 100%;
	order: -1;
	margin-bottom: 25px;
}

.main-logo h1 {
	width: 80px;
	background-color: #fff;
	border-radius: 50%;
	color: #263555;
	font: 33px/80px Dorsa, sans-serif;
	text-align: center;
}

/* HERO */

#hero {
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border: 1px solid #eae9e9;
	background: url(../img/main-slider1.jpg) center center no-repeat;
	text-transform: uppercase;
}

#hero p.small {
	padding: 24px 18px;
	background-color: #fff;
	color: #263555;
	font-size: 22px;
}

#hero p {
	padding: 16px 14px 18px 16px;
	background-color: #38afe5;
	color: #fff;
	font-size: 34px;
}

.hero-arrows {
	height: 90px;
	width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 3%;
	bottom: -25%;
	border-radius: 50%;
	background-color: #38afe5;
}

.hero-arrows .left-arrow,
.hero-arrows .right-arrow {
	height: 13px;
	width: 13px;
	flex-basis: auto;
	margin: 6px;
}

.hero-arrows .left-arrow {
	background: url(../img/slider-arrow-back.png) no-repeat;
}

.hero-arrows .right-arrow {
	background: url(../img/slider-arrow-forward.png) no-repeat;
}

/* TOP DESTINATIONS */

.top-destinations {
	display: flex;
	justify-content: space-between;
}

.destinations-item {
	height: 270px;
	width: 32%;
	display: flex;	
	justify-content: flex-start;
	align-items: stretch;
	overflow: hidden;
	background: #000 no-repeat;
}

.destinations-item.item1 {
	background-image: url(../img/venice-destination.jpg);
}

.destinations-item.item2 {
	background-image: url(../img/newyork-destination.jpg);
}

.destinations-item.item3 {
	background-image: url(../img/paris-destination.jpg);
}

.destination-description {
	width: 46%;
	padding: 10px;
	position: relative;
	left: -100%;
	background-color: #193149;
}

.destinations-item:hover .destination-description {
	left: 0;
	transition: left 0.5s;
}

.destination-description h3 {
	margin: 22px 0;
	color: #fff;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

.destination-description p {
	color: #fff;
	font: 10px Arial, sans-serif;
	text-align: justify;
}

/* MAIN CONTENT */

#main-content {
	display: flex;
	justify-content: space-between;
}

#tabs {
	width: 64%;
}

#tabs label {
	min-width: 20%;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: -3px;
	border: 1px solid #e1dfdf;
	border-right: none;
	background-color: #fcfafa;
	font-size: 19px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

#tabs label:last-of-type {
	border-right: 1px solid #e1dfdf;
}

#tabs label:hover {
	cursor: pointer;
}

#tabs>input:checked+label {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #38afe5;
}

#tabs>input {
	display: none;
	position: absolute;
}

.tabs-items {
	border: 1px solid #e1dfdf;
}

.tab-item {
	display: none;
	flex-direction: column;
	padding: 40px 15px 20px 20px;
	animation-name: fadeIn;
	animation-duration: 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#tab1-header:checked~.tabs-items #tab1,
#tab2-header:checked~.tabs-items #tab2,
#tab3-header:checked~.tabs-items #tab3 {
	display: flex;
}

.tab-paragraph {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tab-paragraph img {
	height: 105px;
	width: 30%;
}

.tab-description {
	width: 60%;
	font-family: Arial, sans-serif;
}

.tab-description h4 {
	margin-bottom: 25px;
	color: #263555;
	font-size: 15px;
	text-transform: none;
}

.tab-description p {
	color: #4e5050;
	font-size: 10px; 
}

.tab-btn-wrapper {
	flex-basis: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 20px 15px;
}

.tab-btn-wrapper .btn {
	right: 0;
	bottom: 0;
	border: 1px solid #c6c1c1;
}

/* NEWSLETTER */

#newsletter {
	width: 32%;
	border: 1px solid #e1dfdf;
	color: #344260;
	font-family: Arial, sans-serif;
}

#newsletter h3 {
	border-bottom: 1px solid #e1dfdf;
	background-color: #fcfafa;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	line-height: 34px;
	text-align: center;
}

.newsletter-content {
	padding: 40px 15px;
}

.newsletter-content p {
	font-size: 15px;
}

.newsletter-content input {
	height: 25px;
	width: 100%;
	box-sizing: border-box;
	margin: 20px 0 40px 0;
	padding-left: 25px;
	border: 1px solid #e1dfdf;
	border-radius: 5px;
}

.newsletter-content ul li {
	line-height: 32px;
}

.newsletter-content ul li:before {
	content: "";
	height: 13px;
	width: 13px;
	float: left;
	margin: 9px 15px 0 0;
	background: url(../img/list-style-pic.png) no-repeat;
}

/* PREFOOTER */
#prefooter {
	box-sizing: border-box;
	padding: 20px 30px 30px 90px;
	background-color: #30455b;
	color: #fff;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

section#prefooter {
	width: 100%;
}

.prefooter-menu {
	display: flex;
	flex-flow: wrap;
}

.prefooter-menu li {
	width: 30%;
}

.prefooter-menu li:last-of-type {
	width: 70%;
	margin-left: -20px;
}

.prefooter-menu li p {
	float: left;
	margin: 5px 20px 0 0;
	font: 10px Arial, sans-serif;
	text-transform: none;
}

.prefooter-menu li p:before {
	content: "";
	margin: -2px 3px 0 0;
	float: left;
}

.mobile-icon:before {
	height: 14px;
	width: 18px;
	background: url(../img/mobile-icon.png) no-repeat;
}

.letter-icon:before {
	height: 17px;
	width: 10px;
	background: url(../img/letter-icon.png) no-repeat;
}

.prefooter-menu li p span {
	display: none;
}

/* TO TOP BUTTON */
#to-top-btn {
	height: 24px;
	width: 24px;
	position: fixed;
	right: 8px;
	bottom: 8px;
	background: url(../img/to-top-button.png) no-repeat;
}

/* FOOTER */

.socials {
	display: flex;
	justify-content: center;
}

.socials li {
	height: 40px;
	width: 40px;
	margin: 25px 6px;
	background: url(../img/socials.png) no-repeat;
}

.socials .twitter {
	background-position: 0 0;
}

.socials .facebook {
	background-position: -39px 0;
}

.socials .google {
	background-position: -78px 0;
}

.socials .linkedin {
	background-position: -117px 0;
}

.socials li a {
	height: 100%;
	width: 100%;
	display: inline-block;
}

footer p {
	margin-bottom: 30px;
	color: #fff;
	font: 12px Arial, sans-serif;
}

/* GALLERY */
#gallery {
	display: flex;
	flex-direction: column;
}

#gallery img {
	height: 220px;
	margin-bottom: 40px;
}

#gallery img:nth-child(n+8) {
	display: none;
}

/* MEDIA */

@media only screen and (min-width: 768px) {
	.content-wrapper {
		width: 768px;
	}

	section {
		width: 680px;
		margin-top: 45px;
	}

	section h2 {
		width: 100%;
	}

	#gallery {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#gallery img {
		height: 180px;
		width: 330px;
	}

	#gallery img:nth-child(8), 
	#gallery img:nth-child(9) {
		display: block;
	}

	/* Prefooter */

	#prefooter {
		padding: 20px 30px 30px 45px;
		font-size: 16px;
	}

	.prefooter-menu li {
		width: 25%;
	}

	.prefooter-menu li:last-of-type {
		width: 25%;
		margin-left: 0;
	}

	.prefooter-menu li p {
		float: none;
		font-size: 12px;
	}

	.prefooter-menu li p:before {
		display: none;
	}

	.prefooter-menu li p span {
		display: inline;
	}

	/* ToTop Button */

	#to-top-btn {
		bottom: 13px;
	}
}

@media only screen and (min-width: 1024px) {
	.content-wrapper {
		width: 1024px;
	}

	section {
		width: 902px;
		margin-top: 60px;
	}

	/* Main menu */

	.main-menu {
		width: 902px;
		flex-wrap: nowrap;
		margin-top: 50px;
	}

	.main-menu li {
		width: auto;
	}

	.main-menu li a {
		font-size: 28px;
	}

	.main-menu .submenu {
		top: 22%;
	}

	.main-menu .main-logo {
		width: auto;
		order: 0;
	}

	.main-logo h1 {
		width: 140px;
		font: 60px/140px Dorsa, sans-serif;
	}

	/* Gallery */

	#gallery {
		margin-bottom: 40px;
	}

	#gallery img {
		height: 155px;
		width: 290px;
	}

	#gallery img:nth-child(10) {
		display: block;
	}

	/* Prefooter */

	#prefooter {
		padding: 40px 140px 25px 140px;
	}


	/* ToTop Button */

	#to-top-btn {
		right: 15px;
		bottom: 17px;
	}

}