.card {
	height: 52rem;
	position: relative;
	perspective: 150rem;
    -moz-perspective: 150rem;

	&__side {
		height: 52rem;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px;
		-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		transition: all .8s ease;
	}

	&__side-front {
		background-color: $color-white;
		box-shadow: 0 1.5rem 4rem rgba($color-black,0.15);
	}

	&__side-back {
		box-shadow: 0 1.5rem 4rem rgba($color-black,0.15);
		transform: rotateY(180deg);
		
		&_order_1 {
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
		}

		&_order_2 {
			background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			
		}
		
		&_order_3 {
			background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);

		}
	}

	&:hover &__side-front {
		transform: rotateY(-180deg);
	}

	&:hover &__side-back {
		transform: rotateY(0);
	}

	// Front side styling

	&__picture {
		height: 23rem;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		background-size: cover;
		opacity: 0.8;

		&_order_1 {
			background-image: url(../img/nat-5.jpg);
		}

		&_order_2 {
			background-image: url(../img/nat-6.jpg);
		}

		&_order_3 {
			background-image: url(../img/nat-7.jpg);
		}
		
		@supports (background-blend-mode: screen) {
			background-blend-mode: screen;

			&_order_1 {
				background-image: linear-gradient(to right bottom, 
					$color-secondary-light, 
					$color-secondary-dark),
					url(../img/nat-5.jpg);
			}

			&_order_2 {
				background-image: linear-gradient(to right bottom, 
					$color-primary-light, 
					$color-primary-dark),
					url(../img/nat-6.jpg);
			}

			&_order_3 {
				background-image: linear-gradient(to right bottom, 
					$color-tertiary-light, 
					$color-tertiary-dark),
					url(../img/nat-7.jpg);
			}
		}
	}


	&__slogan {
		width: 75%;
		position: absolute;
		top: 12rem;
		right: 2rem;
		color: $color-white;
		font-size: 2.8rem;
		font-weight: 300;
		text-align: right;
		text-transform: uppercase;

	}

	&__slogan-stroke {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;

		&_order_1 {
			background-image: linear-gradient(to right bottom, 
				rgba($color-secondary-light,0.85), 
				rgba($color-secondary-dark,0.85));
		}

		&_order_2 {
			background-image: linear-gradient(to right bottom, 
				rgba($color-primary-light,0.85), 
				rgba($color-primary-dark,0.85));
		}

		&_order_3 {
			background-image: linear-gradient(to right bottom, 
				rgba($color-tertiary-light,0.85), 
				rgba($color-tertiary-dark,0.85));
		}
	}

	&__details {
		padding: 3rem;
		text-align: center;
	}

	&__details-box {
		width: 80%;
		margin: 0 auto;
		list-style: none;
	}

	&__details-stroke {
		padding: 1rem;
		font-size: 1.5rem;

		&:not(:last-child) {
			border-bottom: 1px solid $color-grey-light-2;
		}
	}

	// Back side styling

	&__price-box {
		@include vert-align;
		color: $color-white;
		text-align: center;
	}

	&__price-text {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		margin-bottom: 10rem;
		font-size: 6rem;
		font-weight: 100;
	}

	// Responsive styles for tab-port
	@media only screen and (max-width: 57.5em),
            only screen and (hover: none) {

		height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &-back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side-front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        // Front side style responsive

        &__price-box {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-value {
        	margin-bottom: 2rem;
            font-size: 4rem;
        }
    }
}