.u_center-text {
	text-align: center !important;
}

.u_margin-bottom_large {
	margin-bottom: 8rem !important;

	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}

.u_margin-bottom_medium {
	margin-bottom: 4rem !important;

	@include respond(tab-port) {
		margin-bottom: 3rem !important;
	}
}

.u_margin-bottom_small {
	margin-bottom: 1.5rem !important;
}